body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    transition: background 0.3s, color 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #1e1e1e;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

#result-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #222;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #1e1e1e;
}

/* حالت لایت مود */
.light-mode {
    background-color: white;
    color: black;
}

.light-mode header, .light-mode footer {
    background-color: #f0f0f0;
}

.hidden {
    display: none;
}
